/*custom css yello media*/
.servicesHome {
    margin-bottom: 0px !important;
}

.flipBannerHome i {
    font-size: 58px;

}

.flipBannerHome .numberCounter {
    font-size: 2rem;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.flipBannerHome h5 {
    font-size: 1.5rem;

}

.logo-carousel .item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-carousel .item a img {
    object-fit: contain;
    height: 100px
}

.agent-avatar {
    height: 300px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.agent-avatar img {
    object-fit: contain;
}

.agent-name {
    margin-top: -25px;
}

.agent-name h4 {
    height: 45px;
    display: flex;
    align-items: center;
}

.agent-name span {
    height: 50px;
}

#header.cloned {
    z-index: 99999 !important;
}

.showForm {
    opacity: 1 !important;
}

.showForm2 {
    opacity: 1 !important;
}

.sliderHome img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
