@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.cke_notifications_area {
    display: none !important;
}

.containerOut {
    padding: 2rem;
}

.containerInner {
    padding: 2rem;
}

.labelSection {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.alert-success {
    color: #ffff;
}

.boxImage {
    position: relative;
}

.deletePhoto {
    position: absolute;
    right: -10px;
    top: -14px;
    display: block;
    padding: 3px;
    height: 24px;
    background: white;
    border-radius: 50%;
    width: 25px;
    text-align: center;
}

.deletePhoto a {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: -5px;
}
